<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>mesh.api.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>mesh.api.Auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Debug</servlet-name>
        <servlet-class>mesh.api.Debug</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>mesh.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>mesh.api.Add</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Debug</servlet-name>
        <url-pattern>/debug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
